.Timers{
  text-align: center;
  background-color:hsl(0, 0%, 31%);
}

#display span {
  color: white;
  font-family:'Bookman Old Style', serif;
  font: weight 1px;
  }

.icons {
  color:white;
  position: relative;
  }

#start {
  position: absolute;
  left: 0;
  right: 0;
  }
  
  #pause {
  position: absolute;
  left: 0;
  right: 0;
  }
  
  #square {
  padding-right: 30px;
  padding-left:15px;
  }

  #play {
  padding-right: 15px;
  padding-left:30px;
  }

  #display {
  border-bottom: 1px solid white;
  }

@media screen and (min-width: 750px) {
  .Timers {
    height: 100px;
    width: 240px;
    border-radius: 10px;
    }
    
    #display {
    padding-top: 10px;
    padding-bottom: 9px;
    }
    
    #display span {
    font-size: 26px;
    }
    
    .icons {
    font-size: 24px;
    padding-top: 7px;
    padding-bottom: 10px;
    }
}

  @media screen and (max-width: 750px) {
    .Timers {
      height: 80px;
      width: 170px;
      border-radius: 10px;
      }
      
      #display {
      padding-top: 6px;
      padding-bottom: 6px;
      }
      
      #display span {
      font-size: 22px;
      }
      
      .icons {
      font-size: 20px;
      padding-top: 6px;
      padding-bottom: 6px;
      }
    }














